.hero {
  min-height: auto !important;

  display: block;
  padding: clamp(1.25rem, 4vw, 3rem);

  font-family: "BBH Bogle", sans-serif;
  font-style: normal;
}

.hero-title {
  margin-top: 0rem;
  text-align: center;
  line-height: 0.92;

  font-weight: 100;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  font-size: clamp(3.2rem, 9vw, 6.5rem);
}

@media (max-width: 1024px) {
  .hero {
    margin-top: 5rem;
  }
}
